---
const { href, srtext, icon, ...props } = Astro.props;

---

<div class="dark:hover:text-white hover:text-black transition ease-in-out duration-300">
	<a href={href} target="_blank" {...props}>
		<span class="sr-only">{srtext}</span>
		<slot />
		{icon}
	</a>
</div>
