---
const today = new Date();
import FooterLink from "./FooterLink.astro";
import { FaGithub, FaLinkedin } from "react-icons/fa";
---

<footer class="text-gray-400 text-sm">
	&copy; {today.getFullYear()} Viggo Gascou. All rights reserved.
	<div class="social-links">
		<FooterLink href="https://github.com/viggo-gascou" srtext="Go to my Github">
			<FaGithub size={30}/>
		</FooterLink>
		<FooterLink href="https://www.linkedin.com/in/viggo-gascou/" srtext="Go to my LinkedIn">
			<FaLinkedin size={30}/>
		</FooterLink>

	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
