---
import { SITE_TITLE } from '../consts';
import DarkModeToggle from '@components/ThemeToggle';
import SeedlingIcon from '@components/icons/Seedling';
import HeaderLink from '@components/HeaderLink.astro';

---


<header class="fixed top-0 z-40 p-2 flex items-center w-screen h-40 border-b border-transparent select-none backdrop-blur-lg duration-500">
	<nav class="flex fixed w-screen">
		<div class="flex-1 flex justify-center mr-auto">
			<a href="/">
				<h2 class="font-semibold text-lg hover:scale-105 ease-in-out duration-500">
					<SeedlingIcon />
					{SITE_TITLE}
				</h2>
			</a>
		</div>
		<div class="mx-12 font-semibold hover:scale-105 ease-in-out duration-500 justify-center">
			<HeaderLink href="/courses">Courses</HeaderLink>
		</div>
		<div class="flex-1 flex justify-center ml-auto">
			<DarkModeToggle client:idle/>
		</div>
	</nav>
</header>

<script>
	// header
	const header = document.getElementsByTagName("header")[0];

	function animateHeader() {
		if (window.scrollY > 0) {
		header.classList.remove("h-40");
		header.classList.add("h-20");
		header.classList.add("backdrop-blur-lg");
		header.classList.add("border-border");
		header.classList.add("dark:border-stone-700")
		header.classList.add("border-shark-100")
		header.classList.remove("border-transparent");
		} else {
		header.classList.remove("h-20");
		header.classList.add("h-40");
		header.classList.remove("backdrop-blur-lg");
		header.classList.remove("border-border");
		header.classList.remove("dark:border-stone-700")
		header.classList.remove("border-shark-100")
		
		header.classList.add("border-transparent");
		}
  	}

	animateHeader();

	document.addEventListener("scroll", animateHeader);

</script>
