---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import Body from '@components/Body.astro';
---

<style>
  .card {
    @apply bg-white dark:bg-shark-800 rounded-lg shadow-lg overflow-hidden hover:scale-105 hover:shadow-accent transition duration-300;
  }
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="flex-1 pt-40 w-[960px]">
			<h1 class="text-4xl font-bold mt-8 mb-4 text-center">Courses</h1>
			<p>Here are some of the notes to the courses I have taken while studying Data Science at </p> <a href="https://en.itu.dk/" class="text-blue-500 underline">the IT University of Copenhagen</a>


<div class="flex flex-wrap -mx-4 mt-8">
  <a href="/courses/second-year-project" class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
    <div class="card">
      <img class="w-full h-48 object-cover" src="syp.jpg" alt="Placeholder image">
      <div class="py-5 text-center">
        <h2 class="text-xl font-bold mb-2">Second Year Project</h2>
      </div>
    </div>
  </a>
  <a href="/courses/large-scale-data-analysis" class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
    <div class="card">
      <img class="w-full h-48 object-cover" src="lsda.jpg" alt="Placeholder image">
      <div class="py-5 text-center">
        <h2 class="text-xl font-bold mb-2">Large Scale Data Analysis</h2>
      </div>
    </div>
  </a>
  <a href="/courses/data-visualisation" class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8">
    <div class="card">
      <img class="w-full h-48 object-cover" src="dvis.jpg" alt="Placeholder image">
      <div class="py-5 text-center">
        <h2 class="text-xl font-bold mb-2">Data Visulisation</h2>
      </div>
    </div>
  </a>
</div>



		</main>
		<Footer />
	</Body>
</html>
